.navbar ul li{
    font-size: 1rem;
}
#accueil{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top: 20%;
    margin-left: -40%;
}
.social{
    margin-top: 40%;
    margin-left: -60%;
    width: 100%;
}
.headings{
    font-size: 1.2rem;
}
.main .headings{
    font-size: 1.5rem;
    transform: translate(-30%, 10%);
}
#pic img{
    width: 200px;
    height: 200%;
    border-radius: 50%;
}
#intro h2{
    font-size: 1.5rem;
}
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}
.input{
    width: 80%;
}
#msg{
    width: 80%;
}
#send{
    width: 30%;
}
footer{
    font-size: 12px;
}